.example-form{
    display: inline;
    margin-left: 500px;
}
.example-full-width{
    width: 500px;
}
input[type=search]{
    width: 350px;
    padding: 8px 20px 8px 45px;
    border: #fff solid 2px;
    font-size: 18px;
    border-radius: 25px;
    background-position: 2% 50%;
    background-repeat: no-repeat;
    background-size: 30px;
    background-color:rgb(109, 112, 112);
    transition: 0.5s all ease-in-out;
    filter: brightness(170%);
    margin-bottom: 10px;
    padding-bottom: 4px;
}
input[type=search] :focus,
input[type=search] :not(:placeholder-shown){
    width: 350px;
    background-color: #fff;
}
.b1{
    background-color: rgb(247, 247, 252);
    border-radius:7px;
}